$theme-color:rgb(3, 24, 182);
$theme-color-2:#3904f8;
*{
    box-sizing:border-box;
}
.comments{  
    color:green;
    font-size:11px;
    font-weight:normal;
    display:block;
}

.editable-elem{
    &:focus{
        outline:none;
        display: inline-block;
        min-width:20px;
        border:1px solid silver;
    }
    
}
.git-hub-link{
    display:inline-block;
    text-decoration:none;
    padding:0.5em;
    color:white;
    font-weight:bold;
    background-color:$theme-color-2;
    border-radius:20px;
    margin-top:1%;
    box-shadow:4px 4px 2px grey;
    &:hover{
        box-shadow:none;
        font-size:1.125em;
    }
}
.text-theme{
    color:$theme-color;
}
.message-box{
    background-color:white;
    display:inline-block;
    margin-top:5px;
    width:50%;
    margin-left:10px;
    line-height:20px;
    padding:1em;
    position:relative;
    text-align: left;
    border:5px solid silver;
    border-radius:10px;
    &::before{
	content:"";
    	position:absolute;
    	top:-15px;
    	left:20px;
    	width:0;
    	height:0;
    	border-top:5px solid transparent;
    	border-bottom:5px solid silver;
    	border-left:5px solid silver;
    	border-right:5px solid transparent;
    }
}
.list-select-container
{
    position:relative;
    display:block;
    margin-top:1%;

}
.list-select
{
    position:absolute;
    z-index:1;
    background-color: white;
    top:100%;
    left:0;
    width:100%;
    list-style:none;
    padding: 0;
    margin: 0;
    box-shadow: -1px -1px 1px silver,1px 1px 1px silver;
    overflow:hidden;
    overflow-y:scroll;
    height: 200px;
    .head{
        text-align: center;
        background-color: #b9d4e0;
        line-height:20px;
    }
    .option{
        padding-left: 1%;
        line-height:20px;
        &:hover{
            background-color: #0d76a7;
            code{
                color:white !important;
            }
        }
        
    }
}

/*Desktop*/
@media only screen and (min-width:992px) {
    h1{
        font-size:1.5em;
    }
    h2{
        font-size:1.25em;
    }
    h3{
        font-size:1em;
    }
    h1,h2,h3{
        font-weight:900;
    }
    .for-mobile{
        display:none !important;
    }
    
}