@import "awe";
body{
    background-color:#f3f3f3;
}
nav{
    position:fixed;
    top: 0;
    left: 0;
    width:100vw ;
    line-height:40px;
    height:40px;
    box-shadow:2px 2px 4px #f3f3f3;
    background-color:white;
    font-size:1.25em;
    z-index:1;
    #btn-side-menu{
        animation:animBars 0.8s linear 10;
        animation-delay: 8s;
    }
    ul{
        list-style:none;
        margin:0;
        padding:0;
        li{
            font-weight:bold;
        }
    }
    a,button{
        text-decoration:none;
        color:black;
        background-color:inherit;
    }
    
    button{
        border: none;
        font-size:inherit;
        &:focus{
            border:0;
        }
    }
    a:hover,button:hover{
        background-color:$theme-color !important;
        color:white !important;
        outline:none !important;
        cursor: pointer;
    }
    .top-menu{
        padding:0;
        margin:0;
        list-style:none;
        a{
            color: black;
            display:inline-block;
            padding:0 2%;
        }
        > li:first-child{
            padding-left: 2%;
            text-align:left;
            font-size:1.25rem;
        }
        > li{
            float:left;
            text-align:center;
            width:25%;
        }
        .logo{
            text-shadow: 1px 1px 1px silver;
            span{
                &:first-child{
                    color:$theme-color;
                }
                &:last-child{
                    color:black;
                }
            }
        }
    }
    
    .side-menu{
        background-color:white;
        line-height:initial;
        margin:0;
        position:absolute;
        top: 40px;
        left:0;
        height:calc(100vh - 40px);
        overflow-y:auto;
        box-shadow:2px 2px 2px #f3f3f3;
        transition:margin 0.8s;
        overflow-x:hidden;
        width:100%;
        li{
            background-color: #edf4f8;
        }
        a,button{
            display:block; 
            margin:1%; 
            padding:2%;
            padding-left: 5%;
            width:100%;
            text-align:left;
            font-weight:bold;
            background-color: inherit;
        }
        ul{
            a,button{
                padding-left:10%;
            }
        }
        
    }
    .side-menu-ml{
        margin-left:-100%;
    }
}
.main-container{
    margin-top:44px;
    .page{
        box-shadow:-2px -2px 4px #f3f3f3,2px 2px 4px #f3f3f3 ;
        border-radius:10px;
        padding:2%;
        margin:2%;
        overflow-y:auto;
        background-color: white;
        background-image: linear-gradient(to right,white,#f6fcff);
        min-height:60vh;
    }
    #home-page{
        .anim-screen{
            >span{
                display:inline-block;
                min-width:50px;
                text-align: center;
                padding:0 2px 0 2px;
                height:50px;
                line-height:50px;
                border-radius:10px;
                border:2px solid #054c6d;
                margin:1%;
                background-color: #c9e6f3;
                &:hover{
                    cursor:pointer;
                    opacity:0.6;
                }
            }
            .curr-anim{
                background-color:$theme-color;
                color:white;
                animation:reset-opacity 1s linear 1;
            }
        }
    }
    .program-container{
        background-color:white;
        .code-menu{
            background-color: #e2dfdf;
            text-align:center;
            padding:1%;
            button{
                background-color: white;
                color:$theme-color;
                border-radius: 5px;
                border-color:#c9e6f3;
                &:hover{
                    color:blue;
                    opacity:0.8;
                }
            }
        }
        .variables-container{
            padding:2% 0%;
        }
        code{
            color:rgb(75, 11, 2);
        }
        .code-btn{
            border-radius:5px;
            background-color: #0d76a7;
            color:white;
            border-color:#c9e6f3;
        }
        .code{
            font-size:0.875rem;
            font-weight:900;
            text-align:left;
            color:#05212e;
            padding:1%;
            .data-type{
                color:#d35807;
            }
            .variable{
                color:#043192;
            }
            .vars-container{
                &:focus{
                    outline:none;
                }
            }
            .comments{
                color:green;
            }
            .cond{
                display:inline-block;
                min-width:50px;
                color:rgb(103, 153, 187);
                text-align:center;
                &:focus{
                    outline:none;
                }
            }
            .inner-code{
                padding:1%;
                padding-left:4%;
                q{
                    color:darkred;
                }
                .print-method{
                    color:chocolate;
                }
            } 
          
            .curr-exec{
                text-shadow:2px 2px 1px rgb(248, 143, 23);
            }
        }
    }
    .condition-solution{
        line-height:20px;
        height:120px;
        overflow-y:scroll;
        background-color: #76d4e0ce;
        border-radius:10px;
        border:2px solid silver;
        padding:0 2%;
        h3{
            text-align: center;
        }
    }
    .console-window{
        margin:2%;    
        box-shadow:-2px -2px 2px silver,2px 2px 2px silver;
        h3{
            text-align:left;
            margin:0;
            background-color:white;
            color:black;
            font-weight:normal;
            border-radius:0;
        }
        .display-screen{
            background-color:black;
            color:white;
            height:140px;
            line-height:20px;
            padding:1%;
            padding-left:2%;
            overflow-x:hidden;
            overflow-y:scroll;
            span{
                display:block;
            }
        }
    }
    
    footer{
        background-image:linear-gradient(white,#f3f3f3);
        color:#054c6d;
        text-align:center;
        font-weight:bold;
        border-radius:10px;
        padding:2%;
        margin:2%;
        a{
            text-decoration: none;
            font-size:0.875em;
            background-color: #0d76a7;
            color:white;
            display:inline-block;
            border:1px solid #05212e;
            border-radius:5px;
        }
    }
         
}
@keyframes reset-opacity{
    0%{
        opacity: 0.4;
    }
    100%{
        opacity:1;
    }
}
@media only screen and (min-width:992px) {
    nav{
        line-height:30px;
        height:30px;
        font-size:1em;
        .side-menu{
            width:100%;
            height:initial;
            line-height: inherit;
            overflow: initial;
            box-shadow:2px 2px 2px #e2dfdf;
            top: 32px;
            a,button{
                padding:1%;
                margin:0%;
                margin-top:1%;
            }
            > li {
                float: left;
                width:25%;
                position:relative;
                a,button{
                    text-align: center;
                    background-color: inherit;
                }
                ul{
                    position:absolute;
                    background-color: inherit;
                    width:100%;
                    top:100%;
                    left:0;
                    a,button{
                        text-align: left;
                    }
                }

            }

        }
    }
    .main-container{
        .program-container
        {
            .code{
                font-size: 1em;
            }
        }
       
    }
}